{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}



{% block content %}
<form method="POST">
  {% csrf_token %}
    <fieldset>
      <legend style="text-align:center ;">Sign Up</legend>
        <div>
          {{ form|crispy }}
        </div>
      </fieldset>
      <div style="text-align: center; margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      <div style="text-align: center; margin-top: 10px;" >
      <p>Already have an Account! <a href="{% url 'login' %}">Login</a></p>
      </div>
  </form>

{% endblock %}