{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
    {% for note in notes %}
      {% if note.title is '' %}
      <div><p>No Notes</p></div>
        
      {% else %}
          <div class="card border-secondary mb-3 text-white" style=" max-width: 70rem; margin:auto; padding: 10px; top: 10px;">
                <a href="{% url 'note-detail' note.id %}">
              <div class="card-header">
              {% if note.title is not None %}
                <div class="card-title" style="font-size : 18px; font-weight: bold;">{{ note.title }}</div>
              {% endif %}
              </div>
              <div class="card-body">
                <p class="card-text" style="font-size : 15px;">{{ note.content|truncatewords:50 }}</p>
                <p class="text-muted" style="font-size: 12px; text-align: right; margin-top:0px; margin-bottom: 0px;">{{ note.date_posted|date:"M d Y" }}</p>
              </div>
              </a>
            </div>
            
      {% endif %}
    {% endfor %}
    
  {% endif %}
{% endblock %}