{% extends 'base.html' %} 
{% load crispy_forms_tags %}
{% block title %}Create{% endblock %}

{% block content%}
<form action="" method="POST">
    {% csrf_token %}
        
        <fieldset class="form-group">
            <legend style="text-align: center;" class="border-bottom mb-4">Create Note</legend>
            {{ form|crispy }}
        </fieldset>
        <div style="text-align: center;">
            <button type="submit" style="margin-top: 20px;" class="btn btn-info">Save</button><br>
        </div>
</form>
{% endblock %}